* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 17px;
  color: #926239;
}
.grid {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    " header header header "
    " contenido contenido contenido"
    " widget widget widget"
    "sidebar1 sidebar2 sidebar3";
}

.grid .div {
  display: flex;
}

.grid .header h1 {
  font-size: 50px;
}

.grid .header p {
  font-size: 20px;
}
.grid .header a {
  text-decoration: none;
  font-size: 18px;
  text-decoration: none;
  color: #926239;
  border: solid 5px #926239;
  border-radius: 50%;
  display: inline-block;
}
.grid .header {
  grid-area: header;
  background-image: url(http://traversymedia.com/downloads/assets/beachshowcase.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.grid .contenido {
  grid-area: contenido;
  color: white;
  background: #926239;
  text-align: center;
  line-height: 1.6;
  padding: 20px;
}

.grid .widget {
  grid-area: widget;
  background: #f9f9f9;
  padding: 20px;
  text-align: center;
  line-height: 1.6;
}

.grid .sidebar1 {
  grid-area: sidebar1;
  padding: 20px;
  background: #926239;
  color: white;
  text-align: left;
}

.grid .sidebar2 {
  grid-area: sidebar2;
  padding: 20px;
  text-align: left;
}

.grid .sidebar3 {
  grid-area: sidebar3;
  padding: 20px;
  background: #926239;
  color: white;
  text-align: left;
}
